*::before,*::after,*{
    box-sizing: border-box;
}
body{
    display: flex;
    background: #f3f3f3;
    justify-content: center;
    height: 100vh;
    font-family: cursive;
    align-items: center;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}


canvas{
    border: 2px solid brown;
}


.box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    width: 804px;
    background-color: steelblue;
    border: 1px brown solid;
}
.box > *{
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: .35rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: .35rem;
    font-size: 2rem;
    border: none;
    cursor: pointer;
}

.box >*:last-child{
    margin-left: 50px;
    position: relative;
}

.box >*:last-child::before,
.box >*:last-child::after{
    content: "";
    width: 5px;
    height:  calc(50px - 5px);
    position: absolute;

}

.box >*:last-child::before{

    background-color: green;
    transform: rotate(45deg);
}

.box >*:last-child::after{
    background-color: yellow;
    transform: rotate(-45deg);
    }